Flask
Flask-SQLAlchemy
Flask-WTF
Flask-Login
Flask-Mail
Flask-Migrate
Flask-Bcrypt
Werkzeug
email-validator
python-dotenv
deep-translator
itsdangerous
WTForms
SQLAlchemy
pandas
openpyxl
qrcode
python-Levenshtein
fuzzywuzzy 
pyotp 
pillow 
itsdangerous